{% extends 'base.html.twig' %}
{% block body %}
<div class="jumbotron" style="border-bottom:3px solid #111">
			<div class="container">
				<div class="page-header">
					<h2><span class="glyphicon glyphicon-home"></span>&nbsp;Bem-vindo ao Serviço de Atendimento ao Consumidor.</h2>
					<!--<hr />-->
					
				</div>
			</div>
		</div>
<div class="container">
		

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2><img src="{{ asset('images/rommel.jpg') }}" class="img-rounded img-thumbnail"   />&nbsp;Rommel</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          
	    <p><a class="btn btn-default" href="#" role="button">Mais detalhes &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2><img src="{{ asset('images/Von_Paulusb.jpg') }}" class="img-thumbnail"   />&nbsp;Von Paulus</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          
	    <p><a class="btn btn-default" href="#" role="button">Mais detalhes &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2><img src="{{ asset('images/zhukovb.jpg') }}" class="img-rounded img-thumbnail"   />&nbsp;Zhukov</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          
	    <p><a class="btn btn-default" href="#" role="button">Mais detalhes &raquo;</a></p>
        </div>
      </div>

	
	
	<hr>
	
      
    </div>
{% endblock %}
