{% block stylesheets %}
<link href="{{ asset('css/960.css') }}" rel="stylesheet" />
<link href="{{ asset('css/template.css') }}" rel="stylesheet" />
{% endblock %}		
<h1>Your lucky number is {{ number }}</h1>

<img src="{{ asset('images/images.jpg') }}" alt="Symfony!" />